@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-primary-dark: #059669;
  --color-surface: #ffffff;
  --color-surface-hover: #f3f4f6;
  --color-border: #e5e7eb;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #111827;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}